<h1>Welcome</h1>
<p>Welcome to storybooks version 1.0.0</p>
<p>Post stories of your life and make them to be read by the world</p>
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i>Login with Google</a>
